# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.dll
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.log
*.config
*.pdb
*.cache
Packages/System.Threading.Tasks.Extensions.4.5.4/version.txt
Packages/System.Threading.Tasks.Extensions.4.5.4/useSharedDesignerContext.txt
Packages/System.Threading.Tasks.Extensions.4.5.4/THIRD-PARTY-NOTICES.TXT
Packages/System.Threading.Tasks.Extensions.4.5.4/System.Threading.Tasks.Extensions.4.5.4.nupkg
Packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinwatchos10/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarintvos10/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinmac20/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinios10/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/ref/netcoreapp2.1/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/ref/MonoTouch10/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/ref/MonoAndroid10/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/LICENSE.TXT
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinwatchos10/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarintvos10/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinmac20/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinios10/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.xml
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard2.0/System.Threading.Tasks.Extensions.xml
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard1.0/System.Threading.Tasks.Extensions.xml
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/netcoreapp2.1/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/net461/System.Threading.Tasks.Extensions.xml
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/MonoTouch10/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/lib/MonoAndroid10/_._
Packages/System.Threading.Tasks.Extensions.4.5.4/.signature.p7s
Packages/System.Threading.Channels.8.0.0/useSharedDesignerContext.txt
Packages/System.Threading.Channels.8.0.0/THIRD-PARTY-NOTICES.TXT
Packages/System.Threading.Channels.8.0.0/System.Threading.Channels.8.0.0.nupkg
Packages/System.Threading.Channels.8.0.0/PACKAGE.md
Packages/System.Threading.Channels.8.0.0/LICENSE.TXT
Packages/System.Threading.Channels.8.0.0/lib/netstandard2.1/System.Threading.Channels.xml
Packages/System.Threading.Channels.8.0.0/lib/netstandard2.0/System.Threading.Channels.xml
Packages/System.Threading.Channels.8.0.0/lib/net8.0/System.Threading.Channels.xml
Packages/System.Threading.Channels.8.0.0/lib/net7.0/System.Threading.Channels.xml
Packages/System.Threading.Channels.8.0.0/lib/net6.0/System.Threading.Channels.xml
Packages/System.Threading.Channels.8.0.0/lib/net462/System.Threading.Channels.xml
Packages/System.Threading.Channels.8.0.0/Icon.png
Packages/System.Threading.Channels.8.0.0/buildTransitive/netcoreapp2.0/System.Threading.Channels.targets
Packages/System.Threading.Channels.8.0.0/buildTransitive/net6.0/_._
Packages/System.Threading.Channels.8.0.0/buildTransitive/net462/_._
Packages/System.Threading.Channels.8.0.0/buildTransitive/net461/System.Threading.Channels.targets
Packages/System.Threading.Channels.8.0.0/.signature.p7s
Packages/System.Text.Json.8.0.0/useSharedDesignerContext.txt
Packages/System.Text.Json.8.0.0/THIRD-PARTY-NOTICES.TXT
Packages/System.Text.Json.8.0.0/System.Text.Json.8.0.0.nupkg
Packages/System.Text.Json.8.0.0/PACKAGE.md
Packages/System.Text.Json.8.0.0/LICENSE.TXT
Packages/System.Text.Json.8.0.0/lib/netstandard2.0/System.Text.Json.xml
Packages/System.Text.Json.8.0.0/lib/net8.0/System.Text.Json.xml
Packages/System.Text.Json.8.0.0/lib/net7.0/System.Text.Json.xml
Packages/System.Text.Json.8.0.0/lib/net6.0/System.Text.Json.xml
Packages/System.Text.Json.8.0.0/lib/net462/System.Text.Json.xml
Packages/System.Text.Json.8.0.0/Icon.png
Packages/System.Text.Json.8.0.0/buildTransitive/netstandard2.0/System.Text.Json.targets
Packages/System.Text.Json.8.0.0/buildTransitive/netcoreapp2.0/System.Text.Json.targets
Packages/System.Text.Json.8.0.0/buildTransitive/net6.0/System.Text.Json.targets
Packages/System.Text.Json.8.0.0/buildTransitive/net462/System.Text.Json.targets
Packages/System.Text.Json.8.0.0/buildTransitive/net461/System.Text.Json.targets
Packages/System.Text.Json.8.0.0/.signature.p7s
Packages/System.Text.Encodings.Web.8.0.0/useSharedDesignerContext.txt
Packages/System.Text.Encodings.Web.8.0.0/THIRD-PARTY-NOTICES.TXT
Packages/System.Text.Encodings.Web.8.0.0/System.Text.Encodings.Web.8.0.0.nupkg
Packages/System.Text.Encodings.Web.8.0.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.xml
Packages/System.Text.Encodings.Web.8.0.0/runtimes/browser/lib/net7.0/System.Text.Encodings.Web.xml
Packages/System.Text.Encodings.Web.8.0.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.xml
Packages/System.Text.Encodings.Web.8.0.0/LICENSE.TXT
Packages/System.Text.Encodings.Web.8.0.0/lib/netstandard2.0/System.Text.Encodings.Web.xml
Packages/System.Text.Encodings.Web.8.0.0/lib/net8.0/System.Text.Encodings.Web.xml
Packages/System.Text.Encodings.Web.8.0.0/lib/net7.0/System.Text.Encodings.Web.xml
Packages/System.Text.Encodings.Web.8.0.0/lib/net6.0/System.Text.Encodings.Web.xml
Packages/System.Text.Encodings.Web.8.0.0/lib/net462/System.Text.Encodings.Web.xml
Packages/System.Text.Encodings.Web.8.0.0/Icon.png
Packages/System.Text.Encodings.Web.8.0.0/buildTransitive/netcoreapp2.0/System.Text.Encodings.Web.targets
Packages/System.Text.Encodings.Web.8.0.0/buildTransitive/net6.0/_._
Packages/System.Text.Encodings.Web.8.0.0/buildTransitive/net462/_._
Packages/System.Text.Encodings.Web.8.0.0/buildTransitive/net461/System.Text.Encodings.Web.targets
Packages/System.Text.Encodings.Web.8.0.0/.signature.p7s
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/useSharedDesignerContext.txt
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/THIRD-PARTY-NOTICES.TXT
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/System.Runtime.CompilerServices.Unsafe.6.0.0.nupkg
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/LICENSE.TXT
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.xml
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net6.0/System.Runtime.CompilerServices.Unsafe.xml
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net461/System.Runtime.CompilerServices.Unsafe.xml
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/Icon.png
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/buildTransitive/netcoreapp3.1/_._
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/buildTransitive/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.targets
Packages/System.Runtime.CompilerServices.Unsafe.6.0.0/.signature.p7s
Packages/System.Numerics.Vectors.4.5.0/version.txt
Packages/System.Numerics.Vectors.4.5.0/useSharedDesignerContext.txt
Packages/System.Numerics.Vectors.4.5.0/THIRD-PARTY-NOTICES.TXT
Packages/System.Numerics.Vectors.4.5.0/System.Numerics.Vectors.4.5.0.nupkg
Packages/System.Numerics.Vectors.4.5.0/ref/xamarinwatchos10/_._
Packages/System.Numerics.Vectors.4.5.0/ref/xamarintvos10/_._
Packages/System.Numerics.Vectors.4.5.0/ref/xamarinmac20/_._
Packages/System.Numerics.Vectors.4.5.0/ref/xamarinios10/_._
Packages/System.Numerics.Vectors.4.5.0/ref/uap10.0.16299/_._
Packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.xml
Packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.xml
Packages/System.Numerics.Vectors.4.5.0/ref/netcoreapp2.0/_._
Packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.xml
Packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.xml
Packages/System.Numerics.Vectors.4.5.0/ref/MonoTouch10/_._
Packages/System.Numerics.Vectors.4.5.0/ref/MonoAndroid10/_._
Packages/System.Numerics.Vectors.4.5.0/LICENSE.TXT
Packages/System.Numerics.Vectors.4.5.0/lib/xamarinwatchos10/_._
Packages/System.Numerics.Vectors.4.5.0/lib/xamarintvos10/_._
Packages/System.Numerics.Vectors.4.5.0/lib/xamarinmac20/_._
Packages/System.Numerics.Vectors.4.5.0/lib/xamarinios10/_._
Packages/System.Numerics.Vectors.4.5.0/lib/uap10.0.16299/_._
Packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
Packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.xml
Packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.xml
Packages/System.Numerics.Vectors.4.5.0/lib/netcoreapp2.0/_._
Packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.xml
Packages/System.Numerics.Vectors.4.5.0/lib/MonoTouch10/_._
Packages/System.Numerics.Vectors.4.5.0/lib/MonoAndroid10/_._
Packages/System.Numerics.Vectors.4.5.0/.signature.p7s
Packages/System.Memory.4.5.5/version.txt
Packages/System.Memory.4.5.5/useSharedDesignerContext.txt
Packages/System.Memory.4.5.5/THIRD-PARTY-NOTICES.TXT
Packages/System.Memory.4.5.5/System.Memory.4.5.5.nupkg
Packages/System.Memory.4.5.5/ref/netcoreapp2.1/_._
Packages/System.Memory.4.5.5/LICENSE.TXT
Packages/System.Memory.4.5.5/lib/netstandard2.0/System.Memory.xml
Packages/System.Memory.4.5.5/lib/netstandard1.1/System.Memory.xml
Packages/System.Memory.4.5.5/lib/netcoreapp2.1/_._
Packages/System.Memory.4.5.5/lib/net461/System.Memory.xml
Packages/System.Memory.4.5.5/.signature.p7s
Packages/System.Diagnostics.DiagnosticSource.8.0.0/useSharedDesignerContext.txt
Packages/System.Diagnostics.DiagnosticSource.8.0.0/THIRD-PARTY-NOTICES.TXT
Packages/System.Diagnostics.DiagnosticSource.8.0.0/System.Diagnostics.DiagnosticSource.8.0.0.nupkg
Packages/System.Diagnostics.DiagnosticSource.8.0.0/LICENSE.TXT
Packages/System.Diagnostics.DiagnosticSource.8.0.0/lib/netstandard2.0/System.Diagnostics.DiagnosticSource.xml
Packages/System.Diagnostics.DiagnosticSource.8.0.0/lib/net8.0/System.Diagnostics.DiagnosticSource.xml
Packages/System.Diagnostics.DiagnosticSource.8.0.0/lib/net7.0/System.Diagnostics.DiagnosticSource.xml
Packages/System.Diagnostics.DiagnosticSource.8.0.0/lib/net6.0/System.Diagnostics.DiagnosticSource.xml
Packages/System.Diagnostics.DiagnosticSource.8.0.0/lib/net462/System.Diagnostics.DiagnosticSource.xml
Packages/System.Diagnostics.DiagnosticSource.8.0.0/Icon.png
Packages/System.Diagnostics.DiagnosticSource.8.0.0/buildTransitive/netcoreapp2.0/System.Diagnostics.DiagnosticSource.targets
Packages/System.Diagnostics.DiagnosticSource.8.0.0/buildTransitive/net6.0/_._
Packages/System.Diagnostics.DiagnosticSource.8.0.0/buildTransitive/net462/_._
Packages/System.Diagnostics.DiagnosticSource.8.0.0/buildTransitive/net461/System.Diagnostics.DiagnosticSource.targets
Packages/System.Diagnostics.DiagnosticSource.8.0.0/.signature.p7s
Packages/System.Collections.Immutable.8.0.0/useSharedDesignerContext.txt
Packages/System.Collections.Immutable.8.0.0/THIRD-PARTY-NOTICES.TXT
Packages/System.Collections.Immutable.8.0.0/System.Collections.Immutable.8.0.0.nupkg
Packages/System.Collections.Immutable.8.0.0/PACKAGE.md
Packages/System.Collections.Immutable.8.0.0/LICENSE.TXT
Packages/System.Collections.Immutable.8.0.0/lib/netstandard2.0/System.Collections.Immutable.xml
Packages/System.Collections.Immutable.8.0.0/lib/net8.0/System.Collections.Immutable.xml
Packages/System.Collections.Immutable.8.0.0/lib/net7.0/System.Collections.Immutable.xml
Packages/System.Collections.Immutable.8.0.0/lib/net6.0/System.Collections.Immutable.xml
Packages/System.Collections.Immutable.8.0.0/lib/net462/System.Collections.Immutable.xml
Packages/System.Collections.Immutable.8.0.0/Icon.png
Packages/System.Collections.Immutable.8.0.0/buildTransitive/netcoreapp2.0/System.Collections.Immutable.targets
Packages/System.Collections.Immutable.8.0.0/buildTransitive/net6.0/_._
Packages/System.Collections.Immutable.8.0.0/buildTransitive/net462/_._
Packages/System.Collections.Immutable.8.0.0/buildTransitive/net461/System.Collections.Immutable.targets
Packages/System.Collections.Immutable.8.0.0/.signature.p7s
Packages/System.Buffers.4.5.1/version.txt
Packages/System.Buffers.4.5.1/useSharedDesignerContext.txt
Packages/System.Buffers.4.5.1/THIRD-PARTY-NOTICES.TXT
Packages/System.Buffers.4.5.1/System.Buffers.4.5.1.nupkg
Packages/System.Buffers.4.5.1/ref/uap10.0.16299/_._
Packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.xml
Packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.xml
Packages/System.Buffers.4.5.1/ref/netcoreapp2.0/_._
Packages/System.Buffers.4.5.1/ref/net45/System.Buffers.xml
Packages/System.Buffers.4.5.1/LICENSE.TXT
Packages/System.Buffers.4.5.1/lib/uap10.0.16299/_._
Packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.xml
Packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.xml
Packages/System.Buffers.4.5.1/lib/netcoreapp2.0/_._
Packages/System.Buffers.4.5.1/lib/net461/System.Buffers.xml
Packages/System.Buffers.4.5.1/.signature.p7s
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/useSharedDesignerContext.txt
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/THIRD-PARTY-NOTICES.TXT
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/PACKAGE.md
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/Microsoft.Extensions.Logging.Abstractions.8.0.0.nupkg
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/LICENSE.TXT
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/lib/netstandard2.0/Microsoft.Extensions.Logging.Abstractions.xml
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/lib/net8.0/Microsoft.Extensions.Logging.Abstractions.xml
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/lib/net7.0/Microsoft.Extensions.Logging.Abstractions.xml
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/lib/net6.0/Microsoft.Extensions.Logging.Abstractions.xml
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/lib/net462/Microsoft.Extensions.Logging.Abstractions.xml
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/Icon.png
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/buildTransitive/netstandard2.0/Microsoft.Extensions.Logging.Abstractions.targets
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/buildTransitive/netcoreapp2.0/Microsoft.Extensions.Logging.Abstractions.targets
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/buildTransitive/net6.0/Microsoft.Extensions.Logging.Abstractions.targets
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/buildTransitive/net462/Microsoft.Extensions.Logging.Abstractions.targets
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/buildTransitive/net461/Microsoft.Extensions.Logging.Abstractions.targets
Packages/Microsoft.Extensions.Logging.Abstractions.8.0.0/.signature.p7s
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/useSharedDesignerContext.txt
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/THIRD-PARTY-NOTICES.TXT
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/PACKAGE.md
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0.nupkg
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/LICENSE.TXT
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/lib/netstandard2.1/Microsoft.Extensions.DependencyInjection.Abstractions.xml
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.Abstractions.xml
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/lib/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.xml
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/lib/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.xml
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/lib/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.xml
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/lib/net462/Microsoft.Extensions.DependencyInjection.Abstractions.xml
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/Icon.png
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/buildTransitive/netcoreapp2.0/Microsoft.Extensions.DependencyInjection.Abstractions.targets
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/buildTransitive/net6.0/_._
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/buildTransitive/net462/_._
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/buildTransitive/net461/Microsoft.Extensions.DependencyInjection.Abstractions.targets
Packages/Microsoft.Extensions.DependencyInjection.Abstractions.8.0.0/.signature.p7s
Packages/Microsoft.Bcl.HashCode.1.1.1/version.txt
Packages/Microsoft.Bcl.HashCode.1.1.1/useSharedDesignerContext.txt
Packages/Microsoft.Bcl.HashCode.1.1.1/THIRD-PARTY-NOTICES.TXT
Packages/Microsoft.Bcl.HashCode.1.1.1/Microsoft.Bcl.HashCode.1.1.1.nupkg
Packages/Microsoft.Bcl.HashCode.1.1.1/LICENSE.TXT
Packages/Microsoft.Bcl.HashCode.1.1.1/lib/netstandard2.1/Microsoft.Bcl.HashCode.xml
Packages/Microsoft.Bcl.HashCode.1.1.1/lib/netstandard2.0/Microsoft.Bcl.HashCode.xml
Packages/Microsoft.Bcl.HashCode.1.1.1/lib/netcoreapp2.1/Microsoft.Bcl.HashCode.xml
Packages/Microsoft.Bcl.HashCode.1.1.1/lib/net461/Microsoft.Bcl.HashCode.xml
Packages/Microsoft.Bcl.HashCode.1.1.1/Icon.png
Packages/Microsoft.Bcl.HashCode.1.1.1/.signature.p7s
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/useSharedDesignerContext.txt
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/THIRD-PARTY-NOTICES.TXT
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/PACKAGE.md
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/Microsoft.Bcl.AsyncInterfaces.8.0.0.nupkg
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/LICENSE.TXT
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/lib/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.xml
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.xml
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/lib/net462/Microsoft.Bcl.AsyncInterfaces.xml
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/Icon.png
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/buildTransitive/net462/_._
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/buildTransitive/net461/Microsoft.Bcl.AsyncInterfaces.targets
Packages/Microsoft.Bcl.AsyncInterfaces.8.0.0/.signature.p7s
Packages/CrashReporter.NET.Official.1.6.0/lib/net462/CrashReporter.NET.XML
Packages/CrashReporter.NET.Official.1.6.0/lib/net452/CrashReporter.NET.XML
Packages/CrashReporter.NET.Official.1.6.0/lib/net40/CrashReporter.NET.XML
Packages/CrashReporter.NET.Official.1.6.0/lib/net35/CrashReporter.NET.XML
Packages/CrashReporter.NET.Official.1.6.0/lib/net20/CrashReporter.NET.XML
Packages/CrashReporter.NET.Official.1.6.0/CrashReporter.NET.Official.1.6.0.nupkg
Packages/CrashReporter.NET.Official.1.6.0/.signature.p7s
.vs/rv368 RU/v17/HierarchyCache.v1.txt
.vs/rv368 RU/v17/fileList.bin
.vs/rv368 RU/v17/.suo
.vs/rv368 RU/v17/.suo
PointBlank.Auth/obj/Debug/PointBlank.Auth.csproj.FileListAbsolute.txt
PointBlank.Game/obj/Debug/PointBlank.Game.Properties.Resources.resources
PointBlank.Core/obj/Debug/PointBlank.Core.csproj.FileListAbsolute.txt
PointBlank.Battle/obj/Debug/PointBlank.Battle.csproj.FileListAbsolute.txt
PointBlank.Game/obj/Debug/PointBlank.Game.csproj.FileListAbsolute.txt
SQL/private.sql
PointBlank.Core/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PointBlank.Core/obj/Debug/PointBlank.Core.csproj.FileListAbsolute.txt
PointBlank.Auth/obj/Debug/PointBlank.Auth.csproj.FileListAbsolute.txt
.vs/slnx.sqlite
.vs/3.30_id_dev/v17/.suo
PointBlank.Game/obj/Debug/PointBlank.Game.csproj.FileListAbsolute.txt
PointBlank.Game/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
.vs/3.30_id_dev/v17/.suo
.vs/3.30_id_dev/v17/fileList.bin
.vs/3.30_id_dev/v17/HierarchyCache.v1.txt
.vs/VSWorkspaceState.json
PointBlank.Auth/obj/Debug/PointBlank.Auth.csproj.FileListAbsolute.txt
PointBlank.Battle/obj/Debug/PointBlank.Battle.csproj.FileListAbsolute.txt
PointBlank.Battle/obj/Final/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PointBlank.Battle/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PointBlank.Battle/obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PointBlank.Battle/obj/x64/Final/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PointBlank.Battle/obj/x64/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PointBlank.Battle/obj/x86/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PointBlank.Battle/obj/x86/Final/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PointBlank.Battle/obj/x86/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/.vs
/.vs
/PointBlank.Auth/.vs
/PointBlank.Auth/obj
/PointBlank.Battle/.vs
/PointBlank.Auth/obj
/PointBlank.Core/.vs
/PointBlank.Game/.vs
/PointBlank.Game/obj
/.vs
